.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ant-menu-title-content a {
  text-decoration: none;
}

.item-wrapping {
  width: 38px;
  height: 38px;
  border-radius: 12px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-card-body {
  padding: 8px 10px !important;
}

.main-content {
  width: 98%;
  background-color: white;
}

.affix-sider .sider-component {
  height: 100vh;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loader span {
  width: 48px;
  height: 48px;
  border: 5px solid #9e9e9e;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: inline;
}

.text-2-line {
  display: -webkit-box; /* Sử dụng flexbox để điều chỉnh hiển thị */
  -webkit-box-orient: vertical; /* Định hướng theo chiều dọc */
  -webkit-line-clamp: 2; /* Chỉ hiển thị 2 dòng */
  overflow: hidden; /* Ẩn phần văn bản vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
  line-height: 1.5; /* Thiết lập chiều cao dòng */
  max-height: 3em; /* Tối đa chiều cao cho 2 dòng */
}

.box-shadow-1{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.div-color-50{
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

:where(.css-dev-only-do-not-override-1yw292k).ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
  content: '***';
  color: silver;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 575.98px) {
  .affix-sider {
    display: none;
  }

  .main-content {
  }
}

/* Màn hình trung bình (ví dụ: tablet, từ 576px đến 767px) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Màn hình lớn (ví dụ: desktop, từ 768px đến 991px) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Màn hình rất lớn (ví dụ: desktop lớn, từ 992px trở lên) */
@media (min-width: 992px) {
}

.order-item-title{
  display: -webkit-box; /* Sử dụng flexbox để điều chỉnh hiển thị */
  -webkit-box-orient: vertical; /* Định hướng theo chiều dọc */
  -webkit-line-clamp: 1; /* Chỉ hiển thị 2 dòng */
  overflow: hidden; /* Ẩn phần văn bản vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
  line-height: 1.5; /* Thiết lập chiều cao dòng */
  max-height: 3em; /* Tối đa chiều cao cho 2 dòng */
}
.custom-row td {
  vertical-align: top; /* Căn chỉnh nội dung lên trên */
}
